.cro_fpc .slidelinkspan {
	opacity: 0;
	display: block !important;
	transition:opacity .5s ease;
	&:hover {
		opacity: 1;
	}
}

div.cro_sldr {
	height: 517px; // fix weird gallery overhang
	overflow: hidden;
}


.cro_headerspace .cro_title {

	position: relative;
	top: 170px;
	margin-left: 15px;
	float: left;
	background: transparent;
	

	
	zoom: 1;
	background: rgba(0,0,0,0.4);
	border: 1px solid #999;
	border: 1px solid rgba(255,255,255,0.6);
	border:  1px solid @red;
	padding: 10px;

	h1 {

		border: none;
	}

}