

div.cro_sldr {
	height: 517px; // fix weird gallery overhang
	overflow: hidden;
}


.cro_headerspace .cro_title {

	h1 {

		border: none;
	}

}

.cro_bannerouter {
	border: none;
	background:rgba(0, 0, 0, 0.7);
}

.cro_headerspace {
	border-bottom: solid 1px #f0f0f0; //RGBA(255,255,255,1);
	position: relative;
	z-index: 50;
}


// HEADER
// LAYOUT

@header-height  : 60px;
@header-padding : 10px;

.topper {
	background-color: #333;
	height: @header-height;

	width: 100%;

	position: relative;
	z-index: 80;


	> .max-central {

		box-sizing: border-box;
		padding-top: @header-padding;
		padding-bottom: @header-padding; // don't use shorthand as the .max-central class does some left/right padding on narrow screens;

		* {
			box-sizing: inherit;
		}

		display: flex; // set flex
		justify-content: space-between; // stretch the items
	}

	// hide the hamburger on desktops
	@media screen and (min-width: 768px) {
		.menu-toggle {
			display: none;
		}
	}

	// we aren't going to have any bulleted lists in this header, 
	// so make sure to remove bullet points on all ULs and reset the padding which is a browser default
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}





	#logo {
		flex: 1 0 0;
		width: 100%;
		

		height: @header-height - (2* @header-padding);



		padding: 0;
		margin: 0;
	
		position: relative;
	

		img {
			position: absolute;
			top: 50%;
			transform:translateY(-50%);
			width: 100%;
			max-width: none;
			height: auto;
		}
	}

	.nav-menus {

		height: 100%;


		flex: 6 0 0;
		

		

		

		// align the items inside
		display: flex;
		.primary-menu {
			//flex: 6 0 0;

			margin: 0 @header-padding * 4;
			@media screen and (max-width: @max-width) {
				margin: 0 @header-padding * 2;
			}

			.nav {
				justify-content: space-between;
			}

			flex-basis: 100%;
		}

		.social-menu {
			//flex: 2 0 0;
			

			
			.nav {
				display: block;
				text-align: right;
				> li {


					width: 40px; // because the FA icons are font size 
					margin-left: 10px;
					// No need to do flex on this, it's just squares of the same size so keep it simple.

					&:first-child {
						margin-left: 0;
					}
				}
			}
			

			li {
				margin-left: 1em;
				font-size: 2em; // these are FA icons so increase the size
				a {
					color: #fff;
				}
			}


		}



		// Menu-container is a generic class for anything within this topper that has a nav in it 
		// In this case it's just the main menu and the social icons.  We aren't going to apply it to the secondary menu as that's going to have some weird stuff going on
		
		.menu-container ul.nav {
			display: flex;
			
			a {
				white-space: nowrap;
			}



			li {
				position: relative;
				height: @header-height - (2 * @header-padding);
				line-height: @header-height - (2 * @header-padding);
			}

			.sub-menu {
				display: block;
				visibility: hidden;
				position: absolute;
				background: #7a7a7a;
				color: #ffffff;
				overflow: hidden;
				margin: 0;

			}

			li:hover { 

				.sub-menu {
					top: 100%;
					left: 0;
					overflow: visible;
					visibility: visible;
					margin: 0;
				}

			}


		}


		// book a table, blog etc.  This is going to break out of the natural flow by being
		// position absolute.  But because it's still within the header this makes mobile menu easier.
		.secondnav-menu {
			position: absolute;
			right: 0;
			@media screen and (max-width: @max-width) {
				right: 2%; 
			}
			top: @header-height + @header-padding;


			#menu-main-submenu {

				li {
					float: none;
					margin-bottom: @header-padding * 2;
					padding: (@header-padding / 2) @header-padding;
					a {
						padding: 0;
						text-align: center;
					}

				}
			}
		}
	}


	
	@media screen and (max-width: 800px) {


		border-bottom: 2px solid #111;
		.nav-menus {
			transition: transform .5s ease;
			will-change: transform;
			transform: translateY(-100%);
		}
		&.open {
			.nav-menus {
				transform:translateY(0);
			}
		}

		.menu-toggle {
			flex: 1 0 0;
			font-size: @header-height - (@header-padding*2);
			position: relative;
			z-index: 90;
			width: auto;
			display: inline-block;
			border:none;
			background:none;
			text-align: left;
			color: @red;
		}


		#logo {
			width: auto;
			max-width: 30%;
			flex: 3 0 0;
			
			z-index: 90;

			position: relative;
			img {
				position: relative;
				z-index: 50;
			}

			
		}
		.nav-menus {

			
			min-height: 90vh;

			background-color: #333;
			position: absolute;
			left: 0;
			width: 100%;
			top: @header-height; // make it full width and position it under the header
			z-index: 0;

			padding: 0 @header-padding 30px;

			display: block;

			.primary-menu {
				margin: 0;
		

				ul.nav {
					display: block;
					background-color: #333;
					width: 100%;

					
				}
			}

			.social-menu {
				background-color: #333;
				ul.nav {
					justify-content: flex-start;

					li {
						text-align: left;
						padding-left: 2px; // fa icon weirdness;
					}
				}
			}

			.secondnav-menu {
				
				background-color: #333;
				top: auto;
				position: relative;
				right: auto;


				#menu-main-submenu {
					
					width: 100%;

					li a {
						text-align: left;
					}
				}

			}
		}



	
	}

	




} // end of .topper

body {
	height: 100%;
}



// HEADER
// DESIGN
#menu-main-menu {
					

	li {
		position: relative;
		z-index: 1;


		&:before {
			content: " ";
			background: #fff;
			opacity: 0;
			display: block;
			position: absolute;
			z-index: 0;
			width: 100%;
			height: 80%;
			top: 10%;
			left: 0;
			transition: transform .2s ease,opacity .2s ease;
			transform: scale(0.1,0.1);
		}

		&:hover {
			> a {
				color: #e31836 !important;
				z-index: 2;
				position: relative;
			}

			&:before {
				transform: scale(1,1);
					opacity: 1;
			}
		}

		a {
			font-size:21px;
			padding:0 5px;
			display: block;
			width: 100%;
			@media screen and (max-width: 800px) {
			
				font-size: 1.2em; 
			
			}
		}
	}					
}