


body {
	color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
	color: @red;
}

// php debugging

.xdebug-var-dump {
	display: block;
	position: fixed;
	z-index: 99999999999999999999999999999999999999999999;
	left: 0;
	bottom: 0;
	padding: 20px;
	background:#fff;
	color: #000;
}


// gallery hover
ul.cro_gallerylist li {
	background: RGBA(0,0,0,1);
	border: solid 1px RGBA(255,255,255,0.3);
	overflow: hidden;

	&:hover {
		img {
			transform:scale(1.1,1.1);
		}
	}

	.imgouter.galholderski {
		img {
			z-index: 4;
			transition:transform .3s ease;
			position: relative;
		}

		h5.cro_accent.cro_galtitle {
			
			color: @red;
			font-weight:normal;
			background: @black;
			z-index: 5;
			position: relative;
		}
	}
	
}
.galholderski .cro_galoverlay {
	background: none;
}




@media only screen and (max-width: 767px) {

	.slidecontentcontents, .slidecontentcontentsr {

		position: relative;
		top: 21px;
	}




	.cro_sldr .bannercover {
		height: 100%;

		.row {
			height: 100%;
		}

		.bannerprocess {
			position: absolute;
			bottom: 0;
			width: 100% !important;
			margin: 0 auto !important;

			.cro_bannerouter {
				top: 0;
			}
		}
	}

}



.imgdiv, .cro_withnav .row {
	height: 100%;
}

.cro_title {
	.max-central;

	top: 50%;
	transform:translateY(-50%);

	h1 {
		
		text-shadow: 2px 0px 17px rgba(0, 0, 0, 1), 0px -3px 42px rgb(0, 0, 0);
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		font-size: 6em;
		color: #fff;
	}
}