


@import "fonts";
@import "variables";
@import "navigation";








// Menu stuff

ul.cro_masthead li.mastheadli h5.mastheadh {
	margin-bottom: 5px;
}
ul.cro_masthead li.mastheadli span.cro_foodprice {
	font-weight: normal;
	.bernard;

}

#post-854 {
	background: @white; // this is the menus page - make it white like a menu;

	h3 {
		color: #000;
		font-weight: normal !important;
		text-transform: uppercase;
		font-size: 4em;
	}
}

ul.cro_masthead {
	background: @white;
	border: none;
	border-bottom: 2px solid @red;
}

