

ul.cro_twister {
  list-style-type: none;
  margin: 0;
  text-align: center;

  display: flex;
  flex-wrap: wrap;


  .clearfix {
    display: none;
  }
  li {
    display: inline-block;
    vertical-align: top;
    width: 31%;
    margin: 0 1%;
    min-width: 240px;
    zoom: 1;
    display: inline;

    border: 2px dotted fade(black, 50%);

   

    h5.weekpromo {
      font-size: 2.3em;
      text-align: left;
      color: #000;
      a {
        color: #000;
      }
    }

    .menu-image-wrapper {
      margin-top: 0;
      margin-right: 10px;
    }



    img {
      width: 100%;
      height: auto;
    }
    .promoimg {
      position: relative;
      img {
        margin-bottom: 0px !important;
        width: 90%;
        margin: 0 5%;
      }
    }
  }

  li.promoshow{
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin: 0 1%;
    min-width: 240px;
    zoom: 1;
    
    padding: 20px;
    margin-bottom: 30px;

    .twistercontent {
      float: left;
      width: 50%;
    }
    .twisterimage {
      float: left;
      width: 50%;
    }
  }
  p {
    text-align: left;
    padding: 0 5%;
  }
  h5 {
    font-weight: normal;
    margin-bottom: 5px;
  }
}
ul.cro_agendatwister {
  li {
    margin-bottom: 40px;
    
    padding-top: 35px;
    
  }
}
